html{
    height: 100%;
}

body {
    background: #eee;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

#root{
    height: 100%;
}